.animation-fade-in-down {
    animation-name: fade-in-down;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

    /* shorthand
    animation: fade-in-down 1s ease 0s 1 normal none;*/
}

@keyframes fade-in-down {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}