/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #41081B #22040E;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #22040E;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #520A22;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #9C1240;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #41081B;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #E91B60;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #6A0C2B;
  }
  