a {
    text-decoration: none;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /* top left */
    padding: 15px 50px;

    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5 );

    transition: all 0.2s ease-in-out;
}

.navbar-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 200px;

    cursor: pointer;
}

.navbar-logo {
    width: 55px;
    height: 55px;

    margin-right: 15px;

    border-radius: 35px;

    transition: all 0.5s;

    object-fit: cover;
}

.navbar-logo-text {
    color: var(--color-white);
    font-size: var(--font-size-9xl);  
    font-weight: 700;

    transition: all 0.2s;
}

.navbar-logo-text-2 {
    color: var(--color-white);
}

.navbar-logo-text-active {
    color: var(--color-neonpurple);
    text-shadow: 0 0 0 transparent,
        0 0 20px rgb(255, 255, 255);
}

.navbar-logo-container:hover .navbar-logo-text {
    text-shadow: 0 0 0 transparent,
        0 0 20px rgb(255, 255, 255);
}

.navbar-logo-container:hover .navbar-logo {
    margin-right: 20px;
    transform: scale(1.2);
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 30px;

    list-style-type: none;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 30px;

    color: var(--color-dimgray);
    font-weight: 600;

    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    text-decoration: none;

    transition: all 0.2s ease-in-out;
}

.navbar-link-active {
    text-shadow: 0 0 0 transparent,
        0 0 20px rgb(255, 255, 255);
    letter-spacing: 0.2rem;
    color: var(--color-neonpurple);
}

.navbar-link:hover {
    letter-spacing: 0.1rem;
    color: var(--color-white);
}

.navbar-toggle {
    display: flex;
    position: relative;

    width: 35px;
    height: 35px;
}

.navbar-toggle-icon {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: var(--font-size-xl);
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
}

.navbar-toggle-icon {
    display: none;
}

@media (max-width: 1024px) {

}

@media (max-width: 390px) {

}