.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 90vw;

    /* padding-bottom: 3%; */

    /* border: 1px solid red; */
}

.navbar-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 200px;

    /* border: 2px solid blue; */
}

.navbar-logo {
    width: 55px;
    height: 55px;

    margin: 0 15px 0 0;

    object-fit: cover;
}

.navbar-logo-text {
    font-size: var(--font-size-9xl);
    font-weight: 700;
}

.navbar-logo-text-2 {
    color: var(--color-theme-primary);
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 13px;

    gap: 30px;

    width: 100%;

    list-style-type: none;

    /* border: 2px solid green; */
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 30px;
    color: var(--color);

    box-sizing: border-box;
    user-select: none;
    cursor: pointer;

    transition: 0.3s ease-in-out;
}

@keyframes slideIn {
    from {
        top: -10%; /* Initial position */
    }
    to {
        top: 0; /* Final position */
    }
}

.navbar-sticky {
    position: fixed;
    top: 10px;
    animation: slideIn 0.3s ease-in-out;
    z-index: 1000;
}

.navbar-link-style-1 {
    color: var(--color-black);
}

.navbar-link-style-1:hover {
    color: var(--color-theme-quartermary);
}

.navbar-link-style-2 {
    font-weight: 600;
    color: var(--color-theme-quadramary);
    border: 2px solid var(--color-theme-quadramary);
}

.navbar-link-style-2:hover {
    color: var(--color-primary);
    background-color: var(--color-theme-quadramary);
}

.navbar-link-style-3 {
    font-weight: 600;

    color: var(--color-primary);
    border: 2px solid var(--color-theme-secondary);
    background-color: var(--color-theme-secondary);
}

.navbar-link-style-3:hover {
    background-color: var(--color-primary);
    color: var(--color-theme-secondary);
}

.navbar-toggle {
    display: flex;
    position: relative;

    width: 35px;
    height: 35px;
}

.navbar-toggle-icon {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: var(--font-size-xl);
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
}

.navbar-toggle-icon {
    display: none;
}