@media (max-width: 390px) {
}

@media (max-width: 768px) {
    .navbar-container {
        justify-content: space-between;
    }

    .navbar-logo-container {
        width: 120px;
    }

    .navbar-logo {
        width: 30px;
        height: 30px;

        margin: 0 8px 0 0;
    }

    .navbar-logo-text {
        font-size: var(--font-size-xl);
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        padding: 90px 0;
        width: 100%;

        /* gap: 10px; */
        
        background-color: rgba( 34, 4, 14, 0.8 );

        height: calc(100vh - 3.5rem);
        opacity: 0;
        pointer-events: none;
        
        /* transition: top 0.4s, opacity 0.3s; */
        transition: all 0.3s ease-in-out;
        z-index: 1000;
    }

    .navbar-toggle-icon {
        display: flex;
    }

    .navbar-toggle-close {
        opacity: 0;
    }

    .show-menu {
        opacity: 1;
        top: 3.5rem;
        pointer-events: initial;
    }

    .show-icon .navbar-toggle-open {
        opacity: 0;
        transform: rotate(90deg);
    }

    .show-icon .navbar-toggle-close {
        opacity: 1;
        transform: rotate(90deg);
    }

    .navbar-link {
        padding: 30px;
        width: 100%;
        color: var(--color-blackshades);
        font-weight: 600;
        letter-spacing: 0.3rem;
        font-size: var(--font-size-base);

        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
        cursor: pointer;
    }
    
    .navbar-link:hover {
        padding: 30px;
        width: 100%;
        border: none;
        font-weight: 600;
        letter-spacing: 0.6rem;
        font-size: var(--font-size-base);
        letter-spacing: 0.3rem;

        background: rgba( 255, 255, 255, 0.05 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
}
    